<link rel="stylesheet" href="/css/border.css" />
<div class="row">
    <div class="col-md-12">
        <div class="col-md-12 text-center">
            <strong>{{message}}</strong>
        </div>
        <h2>Items
            <a href="/Items/add" class="btn btn-success pull-right">Add Post</a>
        </h2>
        <hr />
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr class="bolder-line">
                        <th class="text-color">Item ID</th>
                        <th class="text-color">Title</th>
                        <th class="text-color">Post Date</th>
                        <th class="text-color">Category</th>
                        <th class="text-color">Price</th>
                        <th class="text-color">Published</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each items}}
                        <tr class="bolder-line">
                            <td class="data-color">{{this.id}}</td>
                            <td class="data-color">{{this.title}}</td>
                            <td class="data-color">{{formatDate postDate}}</td>
                            <td><a href="/items?category={{this.category}}">{{this.category}}</a></td>
                            <td class="data-color">${{this.price}}</td>
                            <td class="data-color">{{this.published}}</td>
                           <td><a href="/Items/delete/{{this.id}}" class="btn btn-danger">Remove</a></td> <!-- Remove link -->
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>